body {
    margin: 0;
    padding: 0;
    background: url(../images/pattern4.png) repeat;
    max-width: 1200px;
}

/******************************************************/

#menu-bar {
    margin-left: 25px;
    width: 420px;
    height: 1500px;
    background: url(../images/menu-bar.png) no-repeat;
    position: fixed;
    top: -35px;
}

div.parent {
    height: 0;
}

#menu-bar a {
    text-decoration: none;
    color: #F4FA58;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 1px #1C1C1C;
    position: relative;
    top: -45px;
    left: 153px;
}

#menu-bar a.sub {
    position: absolute;
    top: 327px;
    left: 153px;
}

#menu-bar a:hover {
    text-decoration: underline;
    color: #FE642E;
}

#menu-bar .parent > img.first {
    float: left;
    margin-top: 307px;
}

#menu-bar img {
    float: left;
    margin-left: 79px;
    margin-top: -6px;   
}

#menu-bar div.parent div {
    display: none;
}

#menu-bar div.parent div.test1 {
    position: absolute;
    top: 372px;
    left: 253px;
}

#menu-bar div.parent div.test2 {
    position: absolute;
    top: 431px;
    left: 253px;
}

#menu-bar div.parent:hover div {
    display: block;
}

#menu-bar div.parent div.test1 a {
    display: block;    
    height: 10px;
}

#menu-bar div.parent div.test2 a {
    display: block;    
    height: 10px;
}

/******************************************/

#content {
    float: left;
    width: 650px;    
    margin-top: 50px;
    margin-left: 490px;
    margin-bottom: 50px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #2E2E2E;
}

#content h2 {
    font-family: URW Chancery L, cursive;
    font-size: 55px;
    text-align: center;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    height: 150px;
    width: 500px;
}

#content div.upper {
    background: url(../images/upper.png) no-repeat;
    height: 269px;
}

#content div.middle {
    background: url(../images/middle.png) repeat-y;    
}

#content div.middle p {
    margin: 0;
    padding: 20px 40px 10px 40px;
    font-size: 20px;
    text-align: justify;
}

#content div.bottom {
    background: url(../images/bottom.png);
    height: 98px;
    margin: 0;    
}

#content ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 50px;
    font-size: 23px;
    line-height: 40px;
    list-style: none;
    text-align: center;
}

#content li {    
    border-bottom: 1px dotted black;
}

#content a:hover {
    color: #B40404;
    font-weight: bold;
}

#content a {
    color: black;
    text-decoration: none;
}

#content h3 {
    padding: 20px 40px 20px 40px;
    margin: 0;
    font-size: 23px;
    font-style: italic;
}

#content > div.middle img.choix {
    width: 200px;
    position: relative;
    left: 65px;
}

#content > div.middle a.switch {
    font-size: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-shadow: 2px 2px 1px black;
    color: yellow;
    font-weight: bold;
    position: relative;
    left: -98px;
    top: -21px;
}

#content > div.middle a.switch:hover {
    color: purple;
    text-decoration: underline;
}

/*************************************************/

img.decor {
    width: 396px;
    height: 63px;
    position: relative;
    z-index: 2;
}